:root {
  --primary-color: #013e6d;
  --secondary-color: white;
  --font-family: "Comic Sans MS", cursive, sans-serif;
}

html,
body,
#root,
.layout {
  margin: 0;
  padding: 0;
  background-color: var(--primary-color);
  width: 100%;
  height: 100%;
  scrollbar-width: none;
}

.title {
  color: var(--secondary-color);
  justify-self: center;
  font-family: var(--font-family);
}
/* main layout */
.main--layout {
  display: grid;
  grid-template-rows: 8rem 1fr 2rem;
  grid-template-areas:
    "main-header "
    "main-child"
    "footer";
}
/*  */

/* header */
.main--header {
  grid-area: main-header;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  border-bottom: 0.2rem solid var(--secondary-color);
  width: 100%;
  height: 7rem;
  margin: 0;
  padding: 0;
  align-items: end;
}

/*  */
/* main child*/
.main-child {
  grid-area: main-child;
}


/*  logo*/
.logo-linkodcode {
  grid-column: 1 / 2;
  height: 7em;
  max-height: 7em;
  width: auto;
  margin: 0;
  padding: 0;
}
/*  */







/* display posts page */
.post-display-container {
  height: 40rem;
  width: 30rem;
  justify-self: center;
  display: grid;
  grid-auto-rows: 1fr;
  scrollbar-width: none;
  overflow: scroll;
  gap: 1rem;
  padding: 1rem;
  background-color: var(--primary-color);
}
.posts-title {
  margin: 0;
  padding: 0;
  justify-self: center;
  font-size: 5rem;
  color: var(--secondary-color);
  font-family: var(--font-family);
}
/*  */

/* loading */
.loading {
  justify-self: center;
  color: var(--secondary-color);
  font-size: 3rem;
  font-family: var(--font-family);
}
/*  */

/* add post */

.add-post--post-card {
  grid-template-rows: repeat(8, 1fr);
}
.add-post--btn {
  cursor: pointer;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: 1px solid;
  width: 5em;
  height: 2em;
  border-radius: 0.5em;
  transition: all 0.2s;
  font-family: var(--font-family);
}

.add-post--btn:hover {
  transform: translateY(-1px);
}
.input {
  height: 1.5em;
  width: 20em;
  font-family: var(--font-family);
}
.label {
  font-family: var(--font-family);
}

/*  */

/* home page */
.home--title {
  font-size: 5rem;
  margin: 0;
  margin-top: 3rem;
  font-family: var(--font-family);
}
.app-description {
  justify-self: center;
  padding: 0;
  color: var(--secondary-color);
  font-size: 1.5rem;
  font-family: var(--font-family);
}

/*  */

/*  */

@media only screen and (max-width: 700px) {
  html,
  body,
  #root,
  .layout {
  }
  .main--nav {
    gap: 1em;
    height: 3em;
    max-height: 3em;
  }
  .logo-linkodcode {
    height: 6em;
    max-height: 6em;
  }
  a {
    font-size: 1.2em;
  }

  a:hover {
  }
}
