:root {
  --primary-color: #013e6d;
  --secondary-color: white;
  --font-family: "Comic Sans MS", cursive, sans-serif;
}

html,
body,
#root,
.layout {
  margin: 0;
  padding: 0;
  background-color: var(--primary-color);
  width: 100%;
  height: 100%;
  scrollbar-width: none;
}

.title {
  color: var(--secondary-color);
  justify-self: center;
  font-family: var(--font-family);
}

@media only screen and (max-width: 700px) {
  .main--nav {
    gap: 1em;
    height: 3em;
    max-height: 3em;
  }
  .logo-linkodcode {
    height: 6em;
    max-height: 6em;
  }
  a {
    font-size: 1.2em;
  }
}
