.post-card {
  margin-bottom: 0.5rem;
  padding: 1rem;
  display: grid;
  border-radius: 1rem;
  background-color: var(--secondary-color);
  width: 20rem;
  height: 30rem;
  transition: all 0.2s;
  justify-self: center;
}

.post-post--card {
  cursor: pointer;
}
.post-post--card:hover {
  transform: translateY(-1px) scale(1.05);
}

.post--title {
  justify-self: center;
  font-family: var(--font-family);
}
.post--img {
  width: 100%;
  max-width: 100%;
  height: 15em;
}
.post-description {
  justify-self: start;
  font-family: var(--font-family);
}

.post--time {
  font-family: var(--font-family);
  justify-self: start;
}
